@model NetAtlas.Models.DemandeDAmis

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DemandeDAmis</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Amis1ID" class="control-label"></label>
                <input asp-for="Amis1ID" class="form-control" />
                <span asp-validation-for="Amis1ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amis2ID" class="control-label"></label>
                <input asp-for="Amis2ID" class ="form-control" ></input>
            </div>
            <div class="form-group">
                <label asp-for="Statut" class="control-label"></label>
                <input asp-for="Statut" class="form-control" />
                <span asp-validation-for="Statut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
