@model NetAtlas.Models.NetAtlasUser

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">

            <input asp-for="Id" type="hidden" value=@ViewBag.id/>    
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control"  />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Warning" class="control-label"></label>
                <input asp-for="Warning" class="form-control"  />
                <span asp-validation-for="Warning" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenoms" class="control-label"></label>
                <input asp-for="Prenoms" class="form-control"  />
                <span asp-validation-for="Prenoms" class="text-danger"></span>
            </div>
           
           
            <div class="form-group">
                <label asp-for="Statuts" class="control-label"></label>
                <select asp-for="Statuts" class="form-control"  />
                 <option>Accepté</option>
                 <option>Refusé</option>
            </select>
                <span asp-validation-for="Statuts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
